[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
influxdb = ">= 5.0"
pandas = ">= 0.22"
pytz = ">= 2018.3"
requests = ">= 2.20.0"
six = ">= 1.11"

[dev-packages]
ipdb = "*"
ipython = "*"
mock = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"

[requires]
