name: pytest
on:
  pull_request:
  push:
  schedule:
    - cron: "11 21 * * *"
jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python:
          - 3.5
          - 3.6
          - 3.7
          - 3.8
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - uses: amancevice/setup-code-climate@v0
        with:
          cc_test_reporter_id: ${{ secrets.CC_TEST_REPORTER_ID }}
      - run: cc-test-reporter before-build
      - run: pip install . flake8 pytest pytest-cov
      - run: flake8
      - run: pytest
      - run: cc-test-reporter after-build
        if: ${{ github.event_name != 'pull_request' }}
